* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.new-product {
    width: 50%;
    margin: auto;
    position: relative;
    top: 50px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #ddd;
    margin-bottom: 100px;
}

label,
input {
    width: 100%;
}

input {
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.msg-error {
    color: rgba(247, 32, 25, 0.774);
    font-size: 12px;
    font-style: italic;
}

.input-error {
    border: 1px solid rgba(247, 32, 25, 0.774);
}

.form-group+.form-group {
    margin-top: 20px;
}

.create-btn {
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    background-color: #e31212db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-btn:hover {
    opacity: 0.7;
}